.sidebar{
    flex: 0.35;
}
.sidebar_header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-right: 1px solid lightgray;
}

.sidebar_headerRight{
    display: flex;
    min-width: 10vw;
    justify-content: space-between;
    align-items: center;
}

.sidebar_search{
    background-color: #f6f6f6;
    padding: 5px;
}
.sidebar_searchInput{
    width: 80%;
    height: 100%;
    border-radius: 20px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: white;
  
}
.sidebar_searchCointainer{
    display: flex;
    background-color: white;
    align-items: center;
    width: 100%;
    margin: 3px;
    height: 35px;
    border-radius: 15px;
}

.sidebar_searchCointainer > .MuiSvgIcon-root {
    padding: 10px;
}


.sidebarChat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
    align-items: center;
}

.sidebarChat:hover{
    background-color: #ebebeb;
}

.sidebarChat_text{
    display: grid;
    padding-left: 10px;
}